<div  style="margin:5px;border:5px solid red">
    <h3>Parent</h3>
    <Child></Child>
</div>

@code {
    [Parameter]
    public string Msg1 { get; set; }
    [Parameter]
    public string Msg2 { get; set; }
}
