
<div  style="margin:5px;border:5px solid red">
    <h3>Child</h3>
    <h4>@Message</h4>
    @* <input @bind-value="Message" class="form form-control"/> *@
    <input type="button" value="Change" class="btn btn-success" @onclick="ChangeMEssage" />
</div>

@code {
    public string Message { get; set; } = "default";
    //child send data to parent
    //1) Declare event "Data Type send to parent"
    [Parameter]
    public EventCallback<string> MessageChangeEvent { get; set; }

    void  ChangeMEssage()
    {
        Message += "a";
        //2) fire invoke
        MessageChangeEvent.InvokeAsync(Message);
    }
}
